body {
    background: #FFFFE4;
}

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif; 
    color: #C28285;
    width: max-content;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    background: #E6D9C8;
    padding: 50px 80px;
    text-align: center;
    border-style: double;
    border-color: black;    
}

div {
    margin: auto;
    width: max-content;
}

img {
   width: 400px;
   filter:opacity(50%) sepia(80%);
   align-self: center;
}