.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

body {
    background: #fefbea;
    background-image: url(./resources/images/globe.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-attachment:local;
    background-position: bottom 80px center; 
    background-blend-mode: darken;
    height: fit-content;
}

nav {
    position: fixed; top: 0; right: 0;
    display:flex; 
    justify-content: end;
    align-items:center; 
    width: 100%;
    background: #d3d3d3;
    height: 60px;
    overflow: hidden;
    z-index: 9;
}

#wrapper {
    text-align: center;
}

#logo {
    height: 30px;
    width: max-content;
    margin-right: 10px;
    margin-left: 5px;
}

#nameContainer {
    position: relative;
    height: 600px;
    margin: auto;
    width: 1400px;
    text-align: center;
}

#name {
    position: absolute;
    width: 400px;
    height: 200px;
    margin-left: 450px;
    margin-top: 75px;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: cursive, Arial, Helvetica, sans-serif; 
    color: #813142;
    width: 400px;
    height: 50px;
    background: rgba(251, 231, 239, 0.4);
    text-align: center;
    padding: 50px;
    border-style: double;
    border-color: black;
    position: absolute;
    z-index: 7;
    margin: auto;
}

#yellow {
    background: #fffcc9;
    height: 200px;
    width: 800px;
    position: absolute;
    margin-left: 75%;
    margin-top: 100px;
    z-index: 5;
}

#pink {
    background: #f8dbd8;
    height: 200px;
    width: 800px;
    position: absolute;
    margin-top: 200px;
}

#menu {
    position: relative;
    width: 1400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

div#menu ul {
    font-family: cursive, Arial, Helvetica, sans-serif; 
    font-size: 50px;
    padding: 10px;
    width: 40%;
    text-align: right;
    float: left;
    margin-top: 125px;
    margin-left: 30px;
    list-style-type: none;
}

div#menu ul li:hover {
    transform: scale(110%);
    transition: 2s;
}

li:not(:last-child) {
    margin-bottom: 30px;
}

div #ball {
    height: 600px;
    width: 10%;
    background-image: url(./resources/images/globe.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-blend-mode: color-burn;
    float: left;
    margin-top: 150px;
}

div #cat {
    height: 400px;
    width: 30%;
    background-image: url(./resources/images/cat-paw-up.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position-x: left;
    float: left;
    margin-top: 35px;
}

.content {
    margin-top: 100px;
    margin-bottom: 600px;
    align-items: center;
    text-align: center;
}

footer {
    font-size: 20px;
}

blockquote {
    text-wrap: 50%;
}

.bumper {
    background-color: rgba(160, 32, 240, 0.2);
    height: 200px;
    width: 100%;
    margin-top: 100px;
    position: relative; right: 0;
    display: flex;
    justify-content: end;
    align-items:center; 
}

.circles {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}


#circle1 {
    background-color: aqua;
    float: left;
}

#circle2 {
    background-color: pink;
    float: left;
    margin-left: auto;
    margin-right: auto;

}

#circle3 {
    background-color :lightgreen;
    float: right;
}

.myPic {
    float: right;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-right: 50px;
}

#intro {
    position: relative;
    width: 1400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;
}

#about {
    background-color: #f8dbd8;
    float: left; 
    width: 50%;   
    height: 400px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    margin-left: 50px;
    margin-top: 110px;
    border-radius: 80%;
    position: absolute;
}

div#about p {
    margin-top: 50px;
    margin-left: 100px;
    width: 500px;
}

h2 {
    font-size: 30px;
    margin-top: 70px;
}

.diamonds {
    rotate: 45deg;
    height: 200px;
    width: 200px;
}

#diamond1 {
    background-color: lightgreen;
    float: left;
    margin-left: 45px;
}

#diamond2 {
    background-color: aqua;
    float: right;
    margin-right: 45px;
}

#bumper2 {
    margin-bottom: 200px;
}

#projects {
    background-color: aliceblue;
    margin-top: 50px;
    height: 300px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px
}

p {
    font-size: 20px;
}



