body {
    background: #efccc7;
    background-image: url(./resources/images/globe.png);
    background-size: 500px;
    background-repeat: no-repeat;
    background-attachment:local;
    background-position-x: center;
    background-position-y: bottom;
    background-blend-mode: darken;
    height: 1000px;
}


h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif; 
    color: #813142;
    position: center;
    width: max-content;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left:auto;
    margin-right: auto;
    background: rgba(251, 231, 239, 0.4);
    text-align: center;
    padding: 50px;
    border-style: double;
    border-color: black;
}

h2 {
    font-family: cursive;
    background: rgba(251, 231, 239, 0.4);
    width: max-content;
    padding-left: 50px;
    padding-right: 50px;
    margin-left:auto;
    margin-right: auto;
}

.content {
    float: left;
    width: 50%;
    margin-top: 200px;
    margin-bottom: 600px;
    align-items: center;
    text-align: center;
}


footer {
text-align: center;
}